# Local configuration files
env/host_info.txt
*.local.*
config.local.yaml

# Backup files
*.backup.*

# IDE files
.vscode/
.idea/

# Python cache
__pycache__/
*.pyc

# Test outputs
test_output/
*.log


src/aisecurity-profile-api/local_stack/
src/aisecurity-profile-api/docs/
src/aisecurity-profile-api/tmp/